<div class="form-wrapper">
  <form (submit)="false">
    <input
      class="input"
      type="password"
      (input)="onInput($event)"
      [value]="password"
      (keydown.space)="$event.preventDefault()"
    />
    <div class="password-security-lvl">
      <ul class="password-security-lvl__display display">
        <li
          *ngFor="let bar of bars"
          class="display__item"
          [style.background-color]="bar"
        ></li>
      </ul>
      <span class="password-security-lvl__message">{{ message }}</span>
    </div>
  </form>
</div>
