<div class="form-wrapper">
  <form (submit)="false" class="form">
    <div class="form__input-wrapper">
      <input
        class="form__input"
        type="password"
        placeholder="Password"
        (input)="onInput($event)"
        [value]="password"
        (keydown.space)="$event.preventDefault()"
      />
      <div class="form__password-strength password-strength">
        <ul class="password-strength__display">
          <li
            *ngFor="let bar of bars"
            class="password-strength__item"
            [style.background-color]="bar"
          ></li>
        </ul>
        <span class="password-strength__message">{{ message }}</span>
      </div>
    </div>
    <button
      type="submit"
      class="form__submit-btn"
      [disabled]="passwordStrength <= 2"
      [class.form__submit-btn_disabled]="passwordStrength<=2"
    >
      Continue
    </button>
  </form>
</div>
