.form-wrapper {
  margin-top: 50px;
}

.input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  &:focus {
    outline: 1px solid black;
  }
}

.password-security-lvl {
  // .password-security-lvl__display
  &__display {
    margin-top: 10px;
  }

  // .password-security-lvl__message
  &__message {
    font-size: 14px;
  }
}

.display {
  display: flex;
  column-gap: 3px;
  // .display__item
  &__item {
    display: block;
    width: 35px;
    height: 6px;
    background-color: lightgray;
    border-radius: 5px;
  }
}
